
.log-form{
    width: 100%;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-control{
    display: flex;
    flex-direction: column;
    align-items: center;
}